@model List<myWeb_work.Models.User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>listofUsers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .grid{
            font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
            font-size: 1.2em;
            width: 100%;
            display: table;
            border-collapse: collapse;
            border: solid 1px #000000;
            background-color: white;
            }
        .grid th,td{
            border: 1px solid #000000;
            padding: 3px 7px 2px;
            text-align:center;
            }
        .grid-header{
            background-color: rgb(200,200,200);
            color: #FFFFFF;
            padding-bottom: 4px;
            padding-top: 5px;
            text-align: left;
            }
        .grid-row-style{
            padding: 3px 7px 2px ;
            }
        .grid-alternating-row{
            background-color: #EAF2D3;
            padding: 3px 7px 2px;
            }
        .grid thead{background-color: rgb(200,200,200);}
        .grid th a{color: #1467a3;}
        .grid .columnHouseName{width: 150px;}
        .grid .columnHouseAddress{width: 150px;}
        .grid .columnHouseDetails{width: 200px;}
        .grid .columnHouseSell{width: 150px;}
        .grid .columnHousePrice{width: 150px;}
        .grid .columnHouseRequest{width: 150px;}
    </style>
</head>
<body>
    @Html.Partial("~/Views/Shared/BarActionAdmin.cshtml", (object)ViewBag.user)
    <div class="jumbotron text-center">
        <h1>User Control</h1>
        <p>Here you can update all the Users website</p>
    </div>
    <div class="container-fluid">
        <div class="Grid">
            @{WebGrid grid = new WebGrid(source: this.Model);
                @: @grid.GetHtml(tableStyle: "grid",
                headerStyle: "grid-header",
                footerStyle: "grid-footer",
                alternatingRowStyle: "grid-alternating-row",
                selectedRowStyle: "grid-selected-row",
                rowStyle: "grid-row-style",
                mode: WebGridPagerModes.All,
                columns: grid.Columns(grid.Column("ID", "User ID", style: "columnID"),
                grid.Column("FirstName", "First Name", style: "columnFirstName"),
                grid.Column("LastName", "Last Name", style: "columnLastName"),
                grid.Column("PhoneNumber", "PhoneNumber", style: "columnPhoneNumber"),
                grid.Column("Email", "Email", style: "columnEmail"),
                grid.Column("UserType", "UserType", style: "columnUserType"),
                grid.Column("Options", null, style: "columnActions", format:
                @<text>
                    @Html.ActionLink("Delete", "DeleteUser", "Admin",new { id = item.ID },null)
                </text>)))
            }
        </div>
        </div>
</body>
</html>
