@model myWeb_work.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowUser</title>
</head>
<body>
    <div> 
        User ID: @Model.ID
        <br/>
        User Frist Name: @Model.FirstName
        <br />
        User Last Name: @Model.LastName
        <br />
    </div>
</body>
</html>
