@model List<myWeb_work.Models.House>
    <div class="container-fluid">
        <div class="Grid">
            @{WebGrid grid = new WebGrid(source: this.Model);
                @: @grid.GetHtml(tableStyle: "grid",
                headerStyle: "grid-header",
                footerStyle: "grid-footer",
                alternatingRowStyle: "grid-alternating-row",
                selectedRowStyle: "grid-selected-row",
                rowStyle: "grid-row-style",
                mode: WebGridPagerModes.All,
                columns: grid.Columns(grid.Column("HouseNumber", "HouseNumber", style: "columnHouseNumber"),
                grid.Column("HouseName", "House Name", style: "columnHouseName"),
                grid.Column("HouseAddress", "House Address", style: "columnHouseAddress"),
                grid.Column("HouseDetails", "House Details", style: "columnHouseDetails"),
                grid.Column("HouseSell", "House Sell", style: "columnHouseSell"),
                grid.Column("HousePrice", "House Price", style: "columnHousePrice"),
                grid.Column("Options", null, style: "columnActions", format:
                @<text>
                    @Html.ActionLink("Details and Bid", "HouseDetails", "House", new { HouseNumber = item.HouseNumber },null) /
                </text>)))
            }
        </div>
    </div>

