@model myWeb_work.Models.House

<div class="container-fluid">
    <div class="text-center">
        <div class="jumbotron text-center">
            <h1>House Detail & Bid</h1>
            <h3>Here you can see the detail and bid on your house dream</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <img src="~/DataStyle/Image/HomeSold1.jpg" class="img-thumbnail" alt="Cinque Terre"/>
        </div>
        <div class="col-sm-7">
            <div class="jumbotron text">
                <div class="col-sm">
                    <h4>House Name: @Model.HouseName</h4>
                    <h4>House Address: @Model.HouseAddress</h4>
                    <h4>Details: @Model.HouseDetails</h4>
                    <h3>Price sell start: <text style="color:#ff0000">@Model.HousePrice $</text></h3> 
                </div>
                <hr />
                <div class="col-sm">
                    <form action="BidSend" method="post">
                        <div class="form-group">
                            <label for="Bid">Bid:</label>
                            <input type="text" class="form-control" id="Bid" placeholder="Enter Bid" name="Bid"/>
                        </div>
                        <button type="submit" class="btn btn-default">Send Bid</button>
                    </form>
                </div>
            </div>
            <div class="col-sm">
                @{Html.RenderPartial("PartialViews/HouseB");}
            </div>
     </div>
   </div>
</div>