@model myWeb_work.Models.House

<div class="container-fluid">
    <div class="text-center">
        <div class="jumbotron text-center">
            <h1>House Detail & Bid</h1>
            <h3>Here you can see the detail and bid on your house dream</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            @if (Session["Image"].Equals("House1.jpg"))
            {
                <img src="~/DataStyle/Image/House1.jpg" sizes="100%" class="img-thumbnail" alt="Cinque Terre"/>
            }
            else if (Session["Image"].Equals("House2.jpg"))
            {
                <img src="~/DataStyle/Image/House2.jpg" sizes="100%" class="img-thumbnail" alt="Cinque Terre" />
            }
            else
            {
                <img src="~/DataStyle/Image/House3.jpg" sizes="100%" class="img-thumbnail" alt="Cinque Terre" />
            }
        </div>
        <div class="col-sm-7">
            <div class="jumbotron text">
                <div class="col-sm">
                    <h4>House Name: @Model.HouseName</h4>
                    <h4>House Address: @Model.HouseAddress</h4>
                    <h4>Details: @Model.HouseDetails</h4>
                    <h3>Price sell start: <text style="color:#ff0000">@Model.HousePrice $</text></h3> 
                </div>
                <hr />
                <div class="col-sm">
                    @{Html.RenderPartial("PartialViews/BidSend", (object)ViewBag.Bid);}
                </div>
            </div>
            <script>
                window.onload = function ()//reload page for json func
                {
                    if (!window.location.hash) {
                        window.location = window.location + '#loaded';
                        window.location.reload();
                    }
                }
            </script>
            <div class="col-sm">
                @{Html.RenderPartial("PartialViews/HouseB");}
            </div>
     </div>
   </div>
</div>