<script type="text/javascript" src="/path/to/jquery-latest.js"></script>
<script type="text/javascript" src="/path/to/jquery.tablesorter.js"></script> 

<style>
    .table tr:nth-of-type(2n+1){background-color: #f2f2f2;}
    .table th,td{
            border: 1px solid #000000;
            padding: 3px 7px 2px;
            text-align:center;
            }
</style>
    <h3 class="text-center">Bids Table</h3>
    <div id="status"></div>
    <table class="table table-bordered" id="BidTable">
            <tr>
                <td>User ID</td>
                <td>Bid Price</td>
            </tr>
    </table>
    <script language="javascript">
            $("#status").text("Loading Bid Table......");
            $.get("GetBidByJson", null, BindData);
            function BindData(bids) {
                var tbl = $("#BidTable")
                for (var i = 0; i < bids.length; i++) {
                    var newRow = "<tr>" +
                        "<td>" + bids[i].BidUserID + "<td>" + " $ " +
                         bids[i].BidPrice +
                        "<tr>"
                    tbl.append(newRow);
                }
                async: true
            };
            $("#status").text("");
           
    </script>

